<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>專案作品</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="nav">
        <a href="index.html" class="nav-button"><i class="fas fa-home"></i> 回首頁</a>
    </div>

    <div class="container">
        <section class="section">
            <h2 class="section-title"><i class="fas fa-code-branch"></i> 專案經驗</h2>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-vr-cardboard"></i> Unity VR 場景互動</div>
                <div class="entry-description">
                    <p>碩士論文中設計斜視測量的 3D 虛擬場景，搭配眼動儀進行交互測量。<br>
                        使用 Unity 開發 VR 場景，並使用 C# 撰寫互動功能。<br>
                        使用 HTC vive pro eye 進行測試。<br>
                        由於保密協議，無法提供完整專案。</p>
                    </p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-robot"></i> LINE 聊天機器人 (LLaMA)</div>
                <div class="entry-description">
                    <p>
                        這個專案展示如何將 LLaMA 模型與 LINE Bot 結合，並使用 Flask 框架來處理 LINE Bot 的 webhook。當用戶發送訊息給 LINE Bot 時，Bot 將訊息傳送給本地的 LLaMA 模型，並將 LLaMA 回應回傳給用戶。<br>
                        <img src="https://img.shields.io/badge/Flask-%23000.svg?logo=flask&logoColor=white" alt="Flask">
                        <img src="https://img.shields.io/badge/LLaMA-%230080C0.svg?logo=meta&logoColor=white" alt="LLaMA">
                        <img src="https://img.shields.io/badge/LINE_Messaging_API-%2300C300.svg?logo=line&logoColor=white" alt="LINE Messaging API">
                        <img src="https://img.shields.io/badge/ngrok-%23FF6600.svg?logo=ngrok&logoColor=white" alt="ngrok">

                    🔗 <a href="https://github.com/klo4634321/linebot-llama" target="_blank">GitHub</a></p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-paint-brush"></i> Stable Diffusion AI 繪圖</div>
                <div class="entry-description">
                    <p>學習與實作 Stable Diffusion，建立 Notion 筆記。<br>
                    📘 <a href="https://dark-starfish-f58.notion.site/Stable-Diffusion-a190f738f4e14d838700ec5a85351084?pvs=4" target="_blank">學習筆記</a></p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-user-astronaut"></i> Live2D AI 輔助製作</div>
                <div class="entry-description">
                    <p>本指南將帶你一步步製作 VTuber（VT），從 AI(stable-diffusion) 生成草圖，到 Photoshop 編輯，再到 Live2D 綁定骨架，最終實現 VTuber 的基礎 Live2D 模型。<br>
                        <img src="https://img.shields.io/badge/Stable_Diffusion-%23FF6600.svg?logo=stable-diffusion&logoColor=white" alt="Stable Diffusion">
                        <img src="https://img.shields.io/badge/Photoshop-%2300C8FF.svg?logo=adobe-photoshop&logoColor=white" alt="Photoshop">
                        <img src="https://img.shields.io/badge/Live2D_Cubism-%2300C300.svg?logo=live2d&logoColor=white" alt="Live2D Cubism">
                        <img src="https://img.shields.io/badge/VTube_Studio-%230080C0.svg?logo=vtube-studio&logoColor=white" alt="VTube Studio">
                    🔗 <a href="https://github.com/klo4634321/LIVE2D_VT" target="_blank">GitHub</a></p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-user"></i> 個人履歷網站</div>
                <div class="entry-description">
                    <p>
                        這是一個個人網站專案(就是本網站)，展示了如何使用 HTML + CSS 製作響應式網頁、搭配 Flask 作為後端框架、整合 FormSubmit 進行信件寄送，同時使用 SQLite 資料庫建構留言板功能。<br>
                        <img src="https://img.shields.io/badge/Python-3.10-blue.svg?logo=python&logoColor=white" alt="Python">
                        <img src="https://img.shields.io/badge/Flask-%23000000.svg?logo=flask&logoColor=white" alt="Flask">
                        <img src="https://img.shields.io/badge/SQLite-%23003B57.svg?logo=sqlite&logoColor=white" alt="SQLite">
                        <img src="https://img.shields.io/badge/FormSubmit-%23F26B00.svg?logo=maildotru&logoColor=white" alt="FormSubmit">
                    
                    🔗 <a href="https://github.com/klo4634321/HTML_Demo" target="_blank">GitHub</a></p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-image"></i> 網頁爬蟲 (使用 Selenium)</div>
                <div class="entry-description">
                    <p>
                        這是一個簡單的 Python 工具，用來從 Pixiv 自動化登入並下載指定畫師的所有公開作品。<br>
                        它會模擬登入、抓取畫師頁面、獲取原始圖像網址，並將圖片下載到本地資料夾中。<br>
                        <img src="https://img.shields.io/badge/Python-3.10-blue.svg?logo=python&logoColor=white" alt="Python">
                        <img src="https://img.shields.io/badge/Selenium-%23009639.svg?logo=selenium&logoColor=white" alt="Selenium">
                        <img src="https://img.shields.io/badge/Webdriver_Manager-%23FFBB00.svg?logo=google-chrome&logoColor=white" alt="WebDriver Manager">
                        <img src="https://img.shields.io/badge/Pixiv_Crawler-%232F88F6.svg?logo=pixiv&logoColor=white" alt="Pixiv Crawler">
                    
                    🔗 <a href="https://github.com/klo4634321/Pixiv_crawler" target="_blank">GitHub</a></p>
                </div>
            </div>

            <div class="entry">
                <div class="entry-title"><i class="fas fa-brain"></i> 類神經影像分類 (PyTorch + ResNet18)</div>
                <div class="entry-description">
                    <p>
                        這個專案是一個使用 PyTorch 和 ResNet18 架構的影像分類系統。<br>
                        專案目標是將來自兩位特定 Pixiv 藝術家的圖像（ID 分別為 48631 和 57824462）進行分類。<br>
                        專案提供了一個完整的管道，涵蓋資料處理、模型訓練及推論。<br>
                        <img src="https://img.shields.io/badge/Python-3.10-blue.svg?logo=python&logoColor=white" alt="Python">
                        <img src="https://img.shields.io/badge/PyTorch-%23EE4C2C.svg?logo=pytorch&logoColor=white" alt="PyTorch">
                        <img src="https://img.shields.io/badge/ResNet18-%23000000.svg?logo=code&logoColor=white" alt="ResNet18">
                        <img src="https://img.shields.io/badge/Pixiv_Style_Classifier-%232F88F6.svg?logo=pixiv&logoColor=white" alt="Pixiv Style Classifier">
            
                    🔗 <a href="https://github.com/klo4634321/Resnet-Demo" target="_blank">GitHub</a></p>
                </div>
            </div>
            
            <div class="entry">
                <div class="entry-title"><i class="fas fa-code"></i> ASP.NET Core MVC練習專案</div>
                <div class="entry-description">
                    <p>
                        這是一個使用 ASP.NET Core MVC 架構的練習專案，包含多項功能，旨在整合前後端開發、資料庫應用與 Python 模型服務串接。<br>
                        🗨️ 留言板系統 - 使用 MSSQL 作為資料庫。<br>
                        📅 與 Google 日曆連動 - 使用 Google Calendar API<br>
                        🖼️ 簡單影像處理功能 - 支援圖片縮放、灰階<br>
                        🤖 整合 FastAPI + ResNet 模型 - 透過 FastAPI 建立 Python Web API <br>
                        <img src="https://img.shields.io/badge/.NET-8.0-blueviolet.svg?logo=dotnet&logoColor=white" alt=".NET">
                        <img src="https://img.shields.io/badge/Python-3.10-blue.svg?logo=python&logoColor=white" alt="Python">
                        <img src="https://img.shields.io/badge/FastAPI-009688.svg?logo=fastapi&logoColor=white" alt="FastAPI">
                        <img src="https://img.shields.io/badge/SQLServer-%23CC2927.svg?logo=microsoftsqlserver&logoColor=white" alt="SQL Server">
                        <img src="https://img.shields.io/badge/Google%20Calendar-4285F4.svg?logo=googlecalendar&logoColor=white" alt="Google Calendar">
                    🔗 <a href="https://github.com/klo4634321/Net-Demo" target="_blank">GitHub</a></p>
                </div>
            </div>
            

            <div class="entry">
                <div class="entry-title"><i class="fas fa-desktop"></i> 顯示器控制與YOLO偵測應用程式</div>
                <div class="entry-description">
                    <p>
                        一個結合 C# Windows Forms 與 Python 的跨語言應用程式，支援 DDC/CI 顯示器控制與 YOLOv5 即時物件偵測功能。<br>
                        具備亮度與對比度調整、預設視覺模式切換、螢幕截圖分析與視訊串流功能。<br>
                        <img src="https://img.shields.io/badge/C%23-.NET%20Framework-purple.svg?logo=csharp&logoColor=white" alt="C#">
                        <img src="https://img.shields.io/badge/Python-3.6+-blue.svg?logo=python&logoColor=white" alt="Python">
                        <img src="https://img.shields.io/badge/YOLOv5-%23FF0000.svg?logo=pytorch&logoColor=white" alt="YOLOv5">
                        <img src="https://img.shields.io/badge/Flask-%23000000.svg?logo=flask&logoColor=white" alt="Flask">
                        <img src="https://img.shields.io/badge/OpenCV-%2300487C.svg?logo=opencv&logoColor=white" alt="OpenCV">
                        <img src="https://img.shields.io/badge/MonitorControl-%23007ACC.svg?logo=windows&logoColor=white" alt="MonitorControl">
        
                    🔗 <a href="https://github.com/你的使用者名稱/WinForms_DDC" target="_blank">GitHub</a></p>
                </div>
            </div>   


            <div class="entry">
                <div class="entry-title"><i class="fas fa-chart-line"></i> 外匯交易策略</div>
                <div class="entry-description">
                    <p>以 MACD、布林通道等指標撰寫 MT5 交易策略，並進行回測。</p>
                </div>
            </div>

        </section>
    </div>
</body>
</html>
